.ANN_Graph_VBox {
    -fx-border-style: solid;
    -fx-background-color: rgba(70, 84, 60, 0.05);
    -fx-max-height: 650px;
    -fx-min-height: 650px;
    -fx-max-width: 450px;
    -fx-min-width: 450px;
}

.padding_5 {
    -fx-padding: 0px 5px 0px 5px;
}